body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 200px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header > a {
  font-size: xx-large;
  color: green;
}

 #logo {
  margin-bottom: 40px;
 } 